<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/gastos"></ion-back-button>
    </ion-buttons>
    <ion-title>Inserir Gasto</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <!-- Formulário para adicionar gastos -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Gasto com {{categoria}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Campo de valor -->
      <ion-item>

        <ion-input type="number" [(ngModel)]="valor" placeholder="Digite o valor"></ion-input>
      </ion-item>

      <!-- Campo de data -->



        <input
        type="date"
       [(ngModel)]="data"

        class="custom-date-input"
      />


      <!-- Botão para salvar -->
      <ion-button expand="block" (click)="salvarGasto()">Salvar</ion-button>
    </ion-card-content>
  </ion-card>

  <h2 style="text-align: center;">Gastos dessa quinzena</h2>
  <!-- Lista de gastos -->
  <ion-list>
    <ion-item *ngFor="let gasto of gastos">
      <ion-icon [name]="getIcone(gasto.categoria)" slot="start"></ion-icon>
      <ion-label>
        <!-- Data à esquerda -->
        <div class="data">{{ gasto.data | date:'dd/MM/yyyy' }}</div>
        <!-- Categoria menor -->
        <div class="categoria">{{ gasto.categoria | titlecase }}</div>
      </ion-label>
      <!-- Valor à direita -->
      <div slot="end" class="valor">{{ gasto.valor | currency:'BRL' }}</div>
    </ion-item>
  </ion-list>
</ion-content>
