<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Agendamentos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="home-container">
    <input
      type="date"
      [(ngModel)]="selectedDate"
      (change)="buscarPorData()"
      class="custom-date-input"
    />

    <!-- Exibir os funcionários em cards -->
    <ion-card *ngFor="let funcionario of funcionarios" class="funcionario-card">
      <ion-card-header>
        <ion-row class="info-card">
          <ion-col size="4" class="photo-col">
            <img
              [src]="funcionario.foto"
              alt="Foto do Funcionário"
              class="funcionario-avatar"
            />
          </ion-col>
          <ion-col size="8" class="info-col">
            <ion-card-title>{{ funcionario.nome }}</ion-card-title>
            <ion-text class="diarias-info">
              <strong>{{ funcionario.diarias }}</strong> <br />
              <span class="label"> Diárias</span>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-card-header>

      <!-- Botão para marcar a diária -->
      <ion-card-content>
        <ion-checkbox
  [checked]="funcionario.diaria_marcada"
  (ionChange)="marcarDiaria(funcionario.id, $event.detail.checked)">
</ion-checkbox>


      </ion-card-content>
    </ion-card>
    <!-- Botão para abrir o alerta de fechar quinzena -->
    <ion-button expand="block" class="btn-fechar-quinzena" (click)="abrirAlertaFecharQuinzena()">
      Fechar Quinzena
    </ion-button>
  </div>


  <!-- Componente de loading -->
  <ion-loading [isOpen]="isLoading" message="Carregando..."></ion-loading>

  <!-- Componente de toast para feedback -->
  <ion-toast
    [isOpen]="showToast"
    [message]="toastMessage"
    [duration]="3000"
    (didDismiss)="showToast = false"
  ></ion-toast>
</ion-content>
