<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Relatórios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="light">
  <div class="home-container">


   <!-- Botão de Cadastrar Funcionário -->
   <ion-button class="home-button" expand="block" (click)="navigateTo('criar-funcionario')">
    <ion-icon name="person" class="button-icon"></ion-icon>
    <span class="button-text">Funcionário</span>
  </ion-button>

  <!-- Botão de Cadastrar Funcionário -->
  <ion-button class="home-button" expand="block" (click)="navigateTo('relatorios')">
    <ion-icon name="cash" class="button-icon"></ion-icon>
    <span class="button-text">Gastos</span>
  </ion-button>
  </div>
</ion-content>
