<ion-content class="ion-padding" color="light">
  <div class="home-container">
    <!-- Título da página -->
    <h1 class="title">Bem-vindo!</h1>

    <!-- Botão de Agendamentos -->
    <ion-button class="home-button" expand="block" (click)="navigateTo('agendamentos')">
      <ion-icon name="calendar" class="button-icon"></ion-icon>
      <span class="button-text">Agendamentos</span>
    </ion-button>

    <!-- Botão de Gastos -->
    <ion-button class="home-button" expand="block" (click)="navigateTo('gastos')">
      <ion-icon name="wallet" class="button-icon"></ion-icon>      <span class="button-text">Gastos</span>
    </ion-button>

    <!-- Botão de Cadastrar Funcionário -->
    <ion-button class="home-button" expand="block" (click)="navigateTo('criar-funcionario')">
      <ion-icon name="person-add" class="button-icon"></ion-icon>
      <span class="button-text">Cadastrar Funcionário</span>
    </ion-button>

    <!-- Botão de Cadastrar Funcionário -->
    <ion-button class="home-button" expand="block" (click)="navigateTo('relatorios')">
      <ion-icon name="document-text" class="button-icon"></ion-icon>
      <span class="button-text">Relatórios</span>
    </ion-button>
  </div>
</ion-content>
